
body {
  text-align: center;
}

input {
  height: 20px;
  width: 500px;
}

.vertical {
  float: left;
}

.formulario {
  overflow: hidden;
}

fieldset div  {
  border-bottom: 1px solid #efefef;
  margin: 10px;
  padding-bottom: 10px;
  width: 700px;
  text-align: center;
}

.encabezado-cazador {
background-color: MediumTurquoise;
}

.encabezado-cazador h1{
  text-align: center;
}

.title {
  float: left;
  width: 100px;
  text-align: right;
  padding-right: 10px;
  font-size: 20px;
}

form {
  display: inline-block;
}

#boton-salir {
  float: right;
  height: 35px;
  width: 100px;
  font-size: 15px;
  font-style: oblique;
  background-color: Transparent;
  cursor:pointer;
  border: 2px solid black;
  border-radius: 5px;
}

* {
  font-family: Arial, Verdana, sans-serif;
  color: #665544;
}

fieldset {
  width: auto;
  height: 400px;
  border: 1px dotted #000000;
  border-radius: 5px;
  padding: 10px;
}

input#submit, input#eliminar {
  color: white;
  background-color: mediumturquoise;
  border: black;
  border-radius: 5px;
  width: 120px;
  height: 80px;
  float: right;
  font-size: 20px;
}

input#submit:hover {
  color: black;
  background-color: lightgreen;
  cursor: pointer;
}
input#eliminar:hover {
  color: black;
  background-color: red;
  cursor: pointer;
}

input#eliminar {
  float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
    height: auto;
    border: solid black;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
    font-size: 40px;
    border-bottom: 1px solid #ffffff;
}

li a.active {
    background-color: MediumTurquoise;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
