html {
  background: linear-gradient(to bottom, Turquoise, white);
  height: 100%;
}

.encabezado-cazador {
background-color: MediumTurquoise;
}

.encabezado-cazador h1{
  text-align: center;
}

#boton-salir {
  float: right;
  height: 35px;
  width: 100px;
  font-size: 15px;
  font-style: oblique;
  background-color: Transparent;
  cursor:pointer;
  border: 2px solid black;
  border-radius: 5px;
}

* {
  font-family: Arial, Verdana, sans-serif;
  color: #665544;
}
