html {
  background: linear-gradient(to bottom, Turquoise, white);
  height: 100%;
}

.encabezado {
  background-color: MediumTurquoise;
}

#boton-salir {
  float: right;
  height: 35px;
  width: 100px;
  font-size: 15px;
  font-style: oblique;
  background-color: Transparent;
  cursor:pointer;
  border: 2px solid black;
  border-radius: 5px;
}
.encabezado h1{
  text-align: center;
}

/* .form-talento {
  display: block;
  font-size: 23px;
  align-content: center;
  border-right: 1px solid gray;
  border-left: 1px solidad gray;
}

 #nombres, #edad {
   display: inline;
 }

input {
  width: 200px;
  margin-bottom: 25px;
} */

fieldset {
  width: 350px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 20px;
  text-align: right;
}

legend {
  background-color: #efefef;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: left;
  text-transform: uppercase;
}


			* {
				font-family: Arial, Verdana, sans-serif;
				color: #665544;}
			input {
				border-bottom: 1px dotted #dcdcdc;
				border-top: none;
				border-right: none;
				border-left: none;
				padding: 5px;
				width: 280px;
				margin-bottom: 20px;
      }
			input:focus {
				border: 1px dotted #dcdcdc;
				outline: none;
      }
			input#submit {
				color: #ffffff;
				background-color: #665544;
				border: none;
				border-radius: 5px;
				width: 80px;
      }
			input#submit:hover {
				color: #665544;
				background-color: #efefef;
      }
