
body {
  text-align: center;
}

.encabezado-talento {
background-color: MediumTurquoise;
}

.encabezado-talento h1{
  text-align: center;
}
.vertical {
  float: left;
  border-radius: 20px;
}


.cita {
  overflow: hidden;
  padding-left: 10%;
}

.cita h1, h2 {
  padding: 10px 10px 10px 10px;
}
form {
  display: inline-block;
}

#boton-salir {
  float: right;
  height: 35px;
  width: 100px;
  font-size: 15px;
  font-style: oblique;
  background-color: Transparent;
  cursor:pointer;
  border: 2px solid black;
  border-radius: 5px;
}
.encabezado h1{
  text-align: center;
}

* {
  font-family: Arial, Verdana, sans-serif;
  color: #665544;
}

input {
  border-bottom: 1px dotted #dcdcdc;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 5px;
  width: 280px;
  margin-bottom: 20px;
  margin-top: 20px;
}

input:focus {
  border: 1px dotted #dcdcdc;
  outline: none;
}

input#submit {
  color: #ffffff;
  background-color: #665544;
  border: none;
  border-radius: 5px;
  width: 80px;
  float: right;
}

input#submit:hover {
  color: #665544;
  background-color: #efefef;
}

fieldset {
  width: 350px;
  height: 400px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 20px;
  text-align: right;
}

legend {
  background-color: #efefef;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: left;
  text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
    height: auto;
    border: solid black;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
    font-size: 40px;
    border-bottom: 1px solid #ffffff;
}

li a.active {
    background-color: MediumTurquoise;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
