html {
  background: linear-gradient(to bottom, Turquoise, white);
  height: 100%;
}

label, input {
  display: block;
}

.encabezado {
  background-color: MediumTurquoise;
}

#boton-salir {
  float: right;
  height: 35px;
  width: 100px;
  font-size: 15px;
  font-style: oblique;
  background-color: Transparent;
  cursor:pointer;
  border: 2px solid black;
  border-radius: 5px;
}
.encabezado h1{
  text-align: center;
}

.form-talento {
  display: block;
  font-size: 23px;
  align-content: center;
  border-right: 1px solid gray;
  border-left: 1px solidad gray;
}

 #nombres, #edad {
   display: inline;
 }

input {
  width: 200px;
  margin-bottom: 25px;
}
